因为今天想定时执行postgres的一些脚本,所以在网上查一下有一个crontab的命令,就把这个命令的使用记录一下,方便日后查找.

cron是一个[守护程序]用于在指定的时间内执行行程类的任务，每一个用户都有一个 crontab 文件，来允许他们指定需要执行的内容和时间，此外，系统也有一个 crontab ，用来允许像交替日志和更新本地数据这样有规则的任务。

环境:Ubuntn 12.10

1.使用 crontab -e命令

这个命令比较简单直接输入就可以

#:crontab -e

出现如下窗口(第一次会提示你用那个编译器,随便选 一个就行了)

之后就可以输入你想执行的内容了.

比如:*/2 * * * * date >> /home/postgres/time.log 它的意思就是每过两分钟就向time.log文件中写入当然的系统时间.

之后ctrl+X退出保存就行了.

2.保存crontab之后,我们还要重启crontab服务来使这个任务生效.

sudo service cron restart

3.看一下结果

vim /home/postgres/time.log

参数说明(我找的很多例子,看看就明白了.)

# m h  dom mon dow  command

m 分钟 0-59

h 小时 0-23

dow 天1-31

mon 月 1-12

dow  星期 1-6  0表示星期天

command 就是要执行的命令
